.App {
  text-align: center;
}
table{
  width:500px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin : 0 auto ;
}
  tbody {
      display: block;
      width: 100%;
      overflow-y:scroll;
      height: 360px;
  }

  thead tr {
      display: block;
  }

   thead {
      background: black;
      color: #fff;
  }

th, td {
      padding: 5px;
      text-align: center;
      width: 200px;
  }
  td {
    border: 1px solid #ccc;

  }